* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 html, body, button, input, select, textarea,
 .pure-g [class *= "pure-u"] {
     font-family: 'Lato', Arial, sans-serif;
     letter-spacing: 0;
}

body {
    line-height: 1.7em;
    color: #444;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #444;
}

p {
    margin: 0 auto;
    font-family: 'Lato';
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.8;
}

strong {
    color: #15B1A1;
}

::selection {
    background:#15B1A1;
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background:#15B1A1;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background:#15B1A1;
    color: #FFF;
    text-shadow: none;
}

a, a:visited {
    color: #444;
    position: relative;
    text-decoration: none;
}

p > a, li > a {
    text-decoration: underline;
    color: #444;
}

p > a:focus, a:hover {
    color: #37BEB0;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Alignment */

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/* Effect */
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.loader {
    -webkit-animation-name: horizontalProgressBar;
    animation-name: horizontalProgressBar;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    background: #37BEB0;
    height: 3px;
    left: 0;
    top: 0;
    width: 0%;
    z-index: 9999;
    position:relative;
}

.loader:after{
  display: block;
  position: absolute;
  content:'';
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 0.5;
}
@keyframes horizontalProgressBar
{
    0%   {width: 0%;}
    20%  {width: 10%;}
    30%  {width: 15%;}
    40%  {width: 18%;}
    50%  {width: 20%;}
    60%  {width: 22%;}
    100% {width: 100%;}
}


/* button */
.pure-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    color:#fff;;
    padding: 0.5em 2em;
}

.pure-button:hover {
    background-color:#37BEB0;
    background-image: none;
}

.pure-button-invert {
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    background-color: #fff;
    font-size: 102%;
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 10;
}

.pure-menu-list {
    float: right;
}

.home-menu .pure-menu-heading {
    font-weight: 500;
    text-transform: none;
    color: #37BEB0;
    font-size: 1.3em;
}

.pure-menu-heading:hover {
    color: #444;
}

.home-menu a {
    color: #444;
    font-weight: 400;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #37BEB0;
}

.navbar-fixed-top.scrolled {
    background-color: rgba(0, 0, 0, 0.9) !important;
    transition: background-color 200ms linear;
}

/*
 * -- SPLASH STYLES --
 */

.splash-container {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: left;
    color: #444444;
    padding: 1em 1.6em;
    /* font-family: 'EB Garamond', serif; */
}

.splash-head {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.6em;
}


/* Contents */
.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background-color: #fff;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-subhead i {
    margin-right: 7px;
}

/* work */
.work-list {
    margin-bottom: 95px;
}

.work-inner {
    font-size: 0;
    line-height: 0;
    position: relative;
}

.work .overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
}

.gitlab {
    background-color: #F6F3FE;
}

.dh {
    background-color: #3EB7AF;
}

.angeltalk {
    background-image: linear-gradient(119deg, #e46039, #b93cc1);
}

.gearmaze {
    background-image: linear-gradient(to right, #555b8e, #1c1b34);
}

.goodial {
    background-color: #006FFD;
}

.work:hover .overlay {
    opacity: 0.7;
    cursor: pointer;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 100%;
}

/* about */
.about-wrapper {
    width: 100%;
    z-index: 2;
    background-color: #fff;
    position: absolute;
    padding-bottom: 95px;
    min-height: 100%;
}

.about {
    margin-top: 60px;
    padding: 3em 1em;
}

.about .desc {
    margin-bottom: 1.2em;
}

.emoji {
    font-size: 2em;
}

/* project */

.project-wrapper {
    top: 50%;
    padding-top: 2em;
    padding-bottom: 95px;
}

.project-splash {
    height: 50%;
}

.project-splash .splash {
    margin: 0 auto;
    padding: 0;
}

.project-splash .splash-head {
    font-size: 3em;
    font-weight: 600;
    color: #fcfcfc;
}

.splash-subhead {
    font-size: 1.5em;
    font-weight: 400;
    color: #fcfcfc;
}

/* gitlab-specific */

.gitlab .bg-invert {
    color: #171321;
}

.button-wrapper {
    display: block;
    padding: 1em 0;
}

.project section {
    margin-bottom: 6%;
}

.pjt-img {
    margin: 1em auto;
    display: block;
    max-width: 32em;
    height: auto;
}

.overview li {
    padding: 0.3em 0;
    font-size: 1.2em;
}

.overview img {
    width: 180px;
}

.overview .tool i {
    font-size: 1.3em;
}

.project p {
    font-size: 1.3em;
}

.project blockquote {
    border-bottom: none;
    border-top: none;
    font-size: 30px;
}

.project iframe {
    display: block;
    margin: 2em auto;
}

/* footer */
.footer {
    height: 95px;
    width: 100%;
    background-color: #f6f6f6;
    position: absolute;
    bottom: 0;
    z-index: 4;
}

.icons {
    font-size: 1.6em;
    padding-top: 0.8em;
}

.icons>a {
    padding-right: 0.4em;
}

.copyright {
    color: #555;
    font-size: 0.9em;
    font-weight: 300;
    padding: 0.8em 0;
}


/* Mobile */
@media (min-width: 35.5em) {

    .project section {
        margin-bottom: 10%;
    }

    .project {
        padding: 0 1em;
    }
    
}	

/* Tablet */
@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }

    .splash {
        width: 80%;
        height: 50%;
    }

    .splash-head {
        font-size: 180%;
    }


}

/* Desktop */
@media (min-width: 78em) {
    .splash-head {
        font-size: 220%;
    }
}
